body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
    background: url('../images/bakwan.jpg') no-repeat left center;
    background-size: cover;
}

.login-container {
    width: 100%;
    max-width: 400px; /* Set a max width for larger screens */
    background-color: white;
    border-radius: 10px; /* Optional: Add some border radius */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for depth */
}

.login-text {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 30px; /* Space between title and form */
}

.login-text h1 {
    font-size: 4rem; /* Responsive font size */
    margin: 0;
    font-family: 'Aharoni', sans-serif;
}

.login-form {
    padding: 40px;
}

.login-form h2 {
    font-size: 2rem;
    margin: 0;
    font-family: 'Arial Rounded MT Bold', sans-serif;
    font-weight: bold;
    justify-content: center;
    text-align: center;
}

.login-form h3 {
    font-size: 1.5rem; /* Slightly smaller for better responsiveness */
    font-family: 'Arial Rounded MT Bold', sans-serif;
    font-weight: bold;
    justify-content: center;
    text-align: center;
}

.form-control {
    margin-bottom: 20px;
}

.btn-login {
    background-color: #28a745;
    border-color: #28a745;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

.btn-login:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.login-footer {
    text-align: center;
    margin-top: 20px;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #ccc;
    margin: 0 10px;
}

.divider span {
    color: #888;
    font-size: 1rem; /* Add a value for font-size */
}

